@media (max-width: 1599.98px) {
  .banner_area .banner_container {
    height: auto;
  }
  .banner_area .banner_image_slider {
    max-width: 700px;
  }
  .banner_area .banner_text_slider {
    padding-top: 170px;
    padding-bottom: 85px;
    padding-left: 85px;
  }
  .banner_area .banner_text_slider .info .title {
    font-size: 56px;
    line-height: 65px;
  }
  .common_btn a {
    padding: 16px 25px;
  }
  .banner_area .banner_text_slider .info {
    max-width: 510px;
  }
  .banner_area .banner_image_slider .banner_circle {
    bottom: -240px;
  }
  .about_area .about_image_2 {
    width: 36%;
  }
  .clients .clients_title {
    width: 390px;
  }
  .banner_area .banner_social_icon {
    display: none;
  }
  .header_area .navbar-nav .nav-item .sub_menu a {
    font-size: 15px;
    padding: 9px 24px;
    line-height: 22px;
  }
  .header_area .navbar-nav .nav-item .nav-link::before {
    bottom: 18px;
  }
  .banner_area .banner_text_slider {
    padding-left: 24px;
    padding-top: 160px;
  }
  .banner_area .banner_text_slider .info .title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .banner_area .banner_text_slider .info .title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 24px;
  }
  .banner_area .banner_text_slider .info .subtitle {
    font-size: 16px;
  }
  .banner_area .banner_text_slider .info ul li {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .banner_area .banner_text_slider .info .banner_btn {
    margin-top: 24px;
  }
  .banner_area .banner_text_slider .info ul {
    margin-top: 24px;
  }
}
@media (max-width: 1399.98px) {
  .header_area .header_control_bar {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
  }
  .header_area .navbar-nav .nav-item {
    margin-left: 22px;
  }
  .header_area .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 72px;
  }
  .header_area .navbar-nav .nav-item .sub_menu {
    width: 270px;
  }
  .header_area .navbar-nav .nav-item .sub_menu a {
    line-height: 24px;
  }
  .header_area .navbar-nav .nav-item .sub_menu a {
    font-size: 15px;
    padding: 9px 24px;
    line-height: 22px;
  }
  .header_area .navbar-nav .nav-item .nav-link::before {
    bottom: 18px;
  }
  .banner_area .banner_image_slider {
    max-width: 610px;
    height: 590px;
  }
  .banner_area .banner_image_slider .slider_item {
    height: 790px;
  }
  .banner_area .banner_image_slider .slider_item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .banner_area .banner_social_icon {
    left: 2vw;
  }
  .banner_area .banner_social_icon {
    display: none;
  }
  .banner_area .banner_text_slider .info {
    max-width: 450px;
  }
  .banner_area .banner_text_slider {
    padding-left: 24px;
    padding-top: 110px;
  }
  .banner_area .banner_text_slider .info .title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .banner_area .banner_text_slider .info .subtitle {
    font-size: 16px;
  }
  .banner_area .banner_text_slider .info ul li {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .banner_area .banner_text_slider .info .banner_btn {
    margin-top: 24px;
  }
  .banner_area .banner_text_slider .info ul {
    margin-top: 14px;
  }
  .play_video .watch {
    font-size: 16px;
  }
  .banner_area .banner_social_icon a {
    width: 44px;
    height: 36px;
    line-height: 36px;
  }
  .section_title_main .title {
    font-size: 42px;
  }
  .our_projects .projects_main .projects_text .projects_title {
    font-size: 32px;
  }
  .service_area .service_right .text {
    padding-left: 30px;
  }
  .service_right {
    padding-left: 30px !important;
  }
  .service_area .service_left .nav-link {
    font-size: 24px;
  }
  .service_area .service_right .image {
    max-width: 420px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
  }
  .clients .clients_title .title {
    font-size: 42px;
  }
  .our_products .product_item .text {
    padding: 20px;
  }
  .our_products .product_item .text .title {
    font-size: 24px;
  }
  .counter_area .counter_main .counter_item .counter_number {
    font-size: 52px;
  }
  .contact_us_area .contact_bg .overlay {
    padding: 65px 40px;
  }
  .contact_us_area .section_title_main .title {
    font-size: 32px;
  }
  .contact_us_area .contact_bg .contact_info .text {
    font-size: 22px;
    margin-left: 20px;
  }
  .footer_area .footer_bg .footer_widget .title {
    font-size: 32px;
  }
  .footer_area .footer_bg .footer_widget .footer_title {
    font-size: 22px;
  }
  .footer_area .footer_bg .footer_widget p {
    font-size: 16px;
  }
  .footer_area .footer_bg .footer_widget .footer_title {
    font-size: 18px;
  }
  .bread_crumb_area .info ul {
    padding: 12px 22px;
  }
  .bread_crumb_area .info .title {
    font-size: 42px;
    margin-bottom: 24px;
  }
  .bread_crumb_area .info ul li {
    font-size: 16px;
  }
  .bread_crumb_area .overlay {
    padding: 140px 0;
    padding-bottom: 60px;
  }
  .services_area .services_item .info_box .title {
    font-size: 26px;
    line-height: 32px;
  }
  .services_area .services_item .number {
    font-size: 48px;
  }
  .blog_area .bi-sidebar-widget .tag-widget a {
    padding: 5px 15px;
  }
  .nogor_life_area .nogor_life_main .life_item_sm .text {
    padding: 20px;
    min-height: 176px;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text {
    margin-bottom: -101px;
  }
  .our_projects .projects_main .projects_single_item .text .title {
    font-size: 34px;
  }
  .our_projects .projects_main .projects_single_item .text .title {
    margin-top: 0px;
  }
  .header_area .navbar-brand img {
    width: 160px !important;
  }
}
@media (max-width: 1199.98px) {
  .banner_area .banner_image_slider {
    max-width: 470px;
  }
  .banner_area .banner_text_slider {
    padding-left: 0;
  }
  .banner_area .banner_social_icon {
    display: none;
  }
  .banner_area .banner_image_slider .banner_circle {
    display: none;
  }
  .our_projects .projects_main .projects_sorting:nth-child(2n) {
    margin-top: 48px;
  }
  .service_area .service_left .nav-link {
    font-size: 20px;
    margin-bottom: 16px;
    padding: 0 0 20px;
  }
  .service_area .service_right .image {
    max-width: 350px;
  }
  .service_area .service_right .text {
    margin-top: 0;
  }
  .service_area .service_right .text .info {
    margin-top: 20px;
  }
  .service_area .service_right .text .info p {
    font-size: 16px;
  }
  .service_right {
    padding-left: 10px !important;
  }
  .service_area .service_left {
    padding-top: 16px;
  }
  .clients .clients_title {
    width: 280px;
    padding: 80px 36px;
    text-align: left;
  }
  .clients .clients_title .title {
    font-size: 34px;
  }
  .counter_area .counter_main {
    gap: 30px;
    padding: 35px 100px;
  }
  .counter_area .counter_main .counter_item .title {
    font-size: 17px;
  }
  .counter_area .counter_main .counter_item .counter_number {
    font-size: 48px;
  }
  .testimonial_area .testimonial_main .image_slider {
    padding: 0 50px;
  }
  .testimonial_area .testimonial_main .image_slider .icon.right {
    left: calc(100% - 50px);
  }
  .testimonial_area .testimonial_main .image_slider .icon.left {
    left: 10px;
  }
  .testimonial_area .testimonial_main .text_slider {
    padding: 0 70px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact_us_area .contact_bg .contact_info .icon {
    height: 65px;
    width: 65px;
    line-height: 65px;
  }
  .contact_us_area .contact_bg .contact_info .text {
    font-size: 20px;
    margin-left: 20px;
  }
  .contact_us_area .section_title_main .title {
    font-size: 28px;
  }
  .footer_area .footer_bg .footer_widget .title {
    font-size: 28px;
  }
  .footer_area .footer_bg .footer_widget .title {
    font-size: 24px;
  }
  .management_team .team_main .team_item .text .name a {
    font-size: 17px;
    padding: 14px 35px;
  }
  .management_team .team_main .team_item .text .designation {
    font-size: 14px;
    padding: 5px 16px;
  }
  .services_area .services_item .info_box .title {
    font-size: 24px;
    line-height: 30px;
  }
  .services_area .services_item {
    padding: 28px 24px;
  }
  .services_area .services_item .read_more_btn .read_more {
    width: 50px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
  }
  .products_area .products_main .products_item .text .title {
    font-size: 24px;
  }
  .projects_area .portfolio-item .info .projects_title {
    font-size: 24px;
  }
  .portfolio-btn button {
    font-size: 16px;
    padding: 5px 18px;
  }
  .project_details_area .project_text .solutions .solutions_info li {
    font-size: 16px;
  }
  .blog_area .bi-single-sidebar {
    padding-left: 0;
  }
  .training_area .courses__details-sidebar {
    padding: 20px 20px 20px;
  }
  .nogor_life_area .nogor_life_main .life_item_sm .text p {
    margin-top: 8px;
  }
  .nogor_life_area .nogor_life_main .life_item_sm .text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
  }
  .nogor_life_area .nogor_life_main .life_item_sm .text {
    min-height: 151px;
  }
  .nogor_life_details_area .top_info_slider .text p {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .banner_area .banner_image_slider {
    z-index: 1;
    opacity: 0.1;
    max-width: 370px;
  }
  .banner_area .banner_text_slider .info {
    max-width: 100%;
  }
  .banner_area .banner_container {
    height: auto;
  }
  .banner_area .banner_text_slider {
    padding-top: 170px;
    padding-bottom: 100px;
    padding-left: 0;
    z-index: 9;
  }
  .about_area .image {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 110px;
  }
  .about_area .about_image_2 {
    width: 55%;
  }
  .about_area .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_area .text p {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our_projects {
    margin-top: 80px;
  }
  .our_projects .projects_main .projects_sorting:nth-child(2n) {
    margin-top: 24px;
  }
  .our_projects .projects_main .projects_text .projects_title {
    font-size: 26px;
  }
  .common_btn a {
    padding: 16px 26px;
    overflow: hidden;
  }
  .common_btn a span::before {
    height: 64%;
  }
  .common_btn a span {
    padding-right: 14px;
  }
  .common_btn a i {
    padding-left: 8px;
  }
  .our_projects .projects_main .projects_text {
    padding: 24px;
  }
  .service_area .service_circle {
    opacity: 0.3;
  }
  .service_area .service_left .nav-link img {
    display: none;
  }
  .service_area .service_left .nav-link {
    font-size: 26px;
    margin-bottom: 22px;
    padding: 0 0 24px;
  }
  .service_right {
    padding-left: 0;
    margin-top: 40px;
  }
  .clients .clients_title .title {
    font-size: 30px;
  }
  .clients .clients_title {
    width: 236px;
    padding: 62px 30px;
    text-align: left;
  }
  .clients .clients_logo .logo_item {
    flex: 0 0 auto;
    padding: 0;
  }
  .counter_area .counter_main {
    clip-path: none;
    gap: 24px;
    padding: 30px 24px;
  }
  .counter_area .counter_main .counter_item .title {
    line-height: 24px;
  }
  .expertise_area .details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact_us_area .section_title_main {
    display: none;
  }
  .contact_us_area .contact_bg .contact_info {
    justify-content: flex-end;
  }
  .footer_area .footer_bg .footer_widget .footer_title {
    font-size: 24px;
  }
  .solutions_info {
    margin-bottom: 30px;
  }
  .client_information {
    margin-top: 30px;
  }
  .project_text .col-lg-7 {
    order: 2;
  }
  .project_details_area .projects_image {
    margin-top: 0 !important;
  }
  .training_area .courses__details-sidebar {
    margin-left: 0;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text {
    margin-bottom: -82px;
  }
  .nogor_life_banner .overlay {
    padding: 76px 0;
  }
  .nogor_life_banner .overlay .title {
    font-size: 32px;
  }
  .nogor_life_details_area .top_info_slider .text .title {
    margin-top: 18px;
  }
  .blog-details .blog-details-main .text .blog-title {
    font-size: 28px;
  }
  .blog-details .blog-details-main .text blockquote .text .title {
    color: #e02626;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4em;
  }
  .blog-details .blog-details-main .text .blog-inner-title {
    font-size: 23px;
  }
  .projects_single_item:nth-child(even) .project_wrapper {
    flex-direction: unset !important;
  }
  .projects_single_item:nth-child(even) .image .cate {
    right: 0 !important;
  }
  .projects_single_item:nth-child(even) .text {
    text-align: left;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .projects_single_item:nth-child(even) .text .star {
    flex-direction: unset !important;
    display: none !important;
  }
  .projects_single_item .star {
    flex-direction: unset !important;
    display: none !important;
  }
  .projects_single_item .image .cate {
    top: unset !important;
    bottom: 0;
    right: 0;
    left: 20px;
  }
  .projects_single_item .text {
    padding-left: 0 !important;
    padding-top: 30px;
  }
  .our_projects .projects_main .projects_single_item .image .cate {
    right: unset;
    bottom: 20px;
  }
  .our_projects .projects_main .projects_single_item:nth-child(2n) .image .cate {
    right: unset !important;
    left: 20px;
  }
  .our_projects .projects_main .projects_single_item:nth-child(2n) .image .cate {
    border-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 8px 30px;
    padding-right: 30px !important;
    padding-left: 20px;
  }
  .our_projects .projects_main .projects_single_item .image .cate {
    border-radius: 40px;
  }
  .our_projects .projects_main .projects_single_item:nth-child(2n) .text {
    text-align: left;
  }
}
@media (max-width: 767.98px) {
  .banner_area .banner_image_slider {
    height: auto !important;
    max-width: 100%;
  }
  .banner_area .banner_down_arrow {
    left: 50%;
  }
  .about_area .image {
    width: 75%;
  }
  .about_area .about_image_2 {
    width: 70%;
  }
  .section_title_main .title {
    font-size: 32px;
  }
  .our_projects .projects_main .projects_sorting:nth-child(2n) {
    margin-top: 0;
  }
  .our_projects .projects_main .projects_sorting + .projects_sorting {
    margin-top: 24px;
  }
  .service_area .right_info {
    display: block !important;
  }
  .service_area .service_right .image {
    max-width: 340px;
  }
  .service_area .service_right .text {
    padding-left: 0;
  }
  .service_area .service_right .text {
    margin-top: 30px;
  }
  .counter_area .counter_main .counter_item {
    width: 40%;
  }
  .counter_area .counter_main {
    flex-wrap: wrap;
  }
  .testimonial_area .testimonial_main .image_slider .slick-slide.slick-current .image,
  .testimonial_area .testimonial_main .image_slider .slick-slide.slick-center .image {
    transform: scale(1);
    filter: grayscale(0);
  }
  .testimonial_area .testimonial_main .image_slider .slider_item .image {
    width: 160px;
    height: 160px;
  }
  .testimonial_area .testimonial_main .image_slider .icon.right {
    left: calc(100% - 80px);
  }
  .testimonial_area .testimonial_main .image_slider .icon.left {
    left: 40px;
  }
  .testimonial_area .testimonial_main .text_slider {
    margin-top: 40px;
    padding: 0 0px;
  }
  .expertise_area .details .expertise_item .icon {
    margin: 0 auto;
  }
  .expertise_area .details .expertise_item {
    text-align: center;
    padding-bottom: 30px;
    width: 85%;
    margin: 0 auto;
  }
  .expertise_area .details .expertise_item .title {
    margin: 15px 0;
  }
  .expertise_area .details .expertise_item + .expertise_item {
    margin-top: 30px;
  }
  .contact_us_area .contact_bg .contact_info {
    justify-content: flex-start;
    margin: 14px 0;
  }
  .contact_us_area .contact_bg .overlay {
    padding: 16px 40px;
  }
  .bread_crumb_area .info .title {
    font-size: 32px;
  }
  .portfolio-btn button {
    margin-bottom: 7px;
  }
  .project_details_area .project_text .title {
    font-size: 30px;
    font-weight: 500;
  }
  .blog_area .blog-text .title {
    font-size: 22px;
  }
  .gallery_area .image .text h4 {
    font-size: 16px;
  }
  .gallery_view_area .image i {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .training_area .courses__item {
    padding: 12px;
  }
  .training_area .courses__item .courses__item-content .title a {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4em;
  }
  .training_area .courses__item-bottom .price {
    font-size: 17px;
  }
  .training_area .training_details .text .title {
    font-size: 22px;
    line-height: 1.4em;
  }
  .training_area .training_details .text .inner_title {
    font-size: 20px;
  }
  .training_area .training_details .text .listed_info li {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text .title {
    font-size: 22px;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text {
    margin-bottom: -101px;
  }
  .blog-details .blog-meta ul li {
    font-size: 13px;
  }
  .blog-details .blog-meta ul {
    padding: 7px 24px;
  }
  .blog-details .blog-details-main .text .blog-title {
    font-size: 24px;
    line-height: 1.3em;
  }
  .blog-details .blog-details-main .text blockquote {
    padding: 20px 20px 20px 20px;
  }
  .blog-details .blog-details-main .text blockquote .text .title {
    font-size: 14px;
  }
  .blog-details .blog-details-main .text blockquote .image img {
    width: 80px;
    height: 80px;
  }
  .blog-details .blog-details-main .text blockquote {
    gap: 20px;
    border-radius: 0;
  }
  .blog-details .blog-details-main .text .tags-and-share .share {
    margin-left: 0;
    margin-top: 20px;
  }
  .blog-details .blog-details-main .text .author {
    padding: 24px;
  }
  .blog-details .blog-details-main .text .avatar .image {
    width: 100px;
    height: 100px;
  }
  .blog-details .blog-details-main .text .info .title {
    font-size: 19px;
  }
  .blog-details .blog-details-main .text .info p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.6em;
  }
  .blog-details .text .all-comments .comment-item .comment-info p {
    font-size: 14px;
    line-height: 1.6em;
  }
  .blog-details .text .all-comments .comment-item .comment-info .date {
    font-size: 12px;
    margin-top: 4px;
  }
}
@media (max-width: 575.98px) {
  .banner_area .banner_image_slider {
    display: none;
  }
  .banner_area .banner_text_slider .info .title {
    font-size: 34px;
    line-height: 45px;
  }
  .banner_btn {
    display: block !important;
  }
  .banner_area .play_video {
    margin-top: 20px;
    margin-left: 10px !important;
  }
  .about_area .image {
    width: 85%;
  }
  .about_area .image {
    margin: 0;
    margin-bottom: 110px;
  }
  .about_area .section_title {
    margin-left: 0;
  }
  .section_title_main .title {
    font-size: 26px;
  }
  .about_btn {
    display: block !important;
  }
  .about_btn .play_video {
    margin-top: 15px;
    margin-left: 0 !important;
  }
  .service_area .service_left .nav-link {
    font-size: 22px;
  }
  .service_right {
    padding-left: 0px !important;
  }
  .service_area .service_right .image {
    max-width: 100%;
  }
  .clients .clients_title {
    display: none;
  }
  .clients .clients_logo .logo_item {
    padding: 14px 0;
  }
  .counter_area .counter_main .counter_item .counter_number {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .testimonial_area .testimonial_main {
    padding-top: 80px;
  }
  .expertise_area .details .expertise_item {
    width: 100%;
  }
  .contact_us_area .contact_bg .overlay {
    padding: 16px 20px;
  }
  .contact_us_area .contact_bg .contact_info {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact_us_area .contact_bg .contact_info .icon {
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .contact_us_area .contact_bg .contact_info .text {
    margin-left: 0;
  }
  .mission_vision .mission_vision_item {
    padding: 30px;
    display: block;
  }
  .mission_vision .mission_vision_item .image {
    display: none;
  }
  .training_area .courses__item {
    padding: 16px;
  }
  .training_area .courses__item .courses__item-content .title a {
    font-size: 20px;
  }
  .training_area .courses__item-bottom .price {
    font-size: 18px;
  }
  .nogor_life_details_area .top_info_slider .text .title {
    font-size: 24px;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text {
    background-color: transparent;
    position: static;
    margin-bottom: 0;
    text-align: left !important;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text .title {
    color: #00071a;
  }
  .nogor_life_area .nogor_life_main .life_item .image .text p {
    color: #4d515f !important;
  }
  .blog-details .blog-meta ul {
    border-radius: 0;
    border: 0;
  }
  .blog-details .blog-meta ul {
    padding: 0;
  }
  .blog-details .blog-details-main .text .blog-meta {
    margin-top: 10px;
  }
  .blog-details .blog-meta ul li + li {
    margin-left: 0;
  }
  .blog-details .blog-meta ul li {
    margin-right: 14px;
  }
  .blog_details_border {
    padding: 14px;
  }
  .blog-details .blog-details-main .text .author {
    padding: 14px;
  }
  .blog-details .text .all-comments .comment-item .avatar {
    width: 60px;
    height: 60px;
  }
  .blog-details .text .all-comments .comment-item .comment-info p {
    font-size: 12px;
  }
  .blog-details .text .all-comments .comment-item .comment-info .date {
    font-size: 11px;
  }
  .blog-details .blog-details-main .text .avatar .image {
    width: 80px;
    height: 80px;
  }
  .blog-details .blog-details-main .text .social ul {
    text-align: center;
    display: none;
  }
  .projects_single_item .text {
    padding-top: 20px;
    text-align: center;
  }
  .our_projects .projects_main .projects_single_item .text .title {
    font-size: 27px;
    margin-bottom: 8px;
  }
  .our_projects .projects_main .projects_single_item:nth-child(2n) .text {
    text-align: center;
  }
}

/*# sourceMappingURL=responsive.css.map */
