@media (max-width:1399.98px) {
  .header_area .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    margin-right: 27px;
  }

  .stroke_text {
    font-size: 86px;
  }

  .about_us_area .about_text .list_info ul li {
    font-size: 18px;
  }

  .section_title .title {
    font-size: 40px;
    line-height: 51px;
  }

  .section_title .subtitle {
    font-size: 16px;
  }

  .about_us_area::before {
    height: 649px;
  }

  .counter_area .counter_item .text {
    width: 196px;
  }

  .counter_area .counter_item .text {
    padding: 20px;
  }

  .counter_area .counter_item .text .title {
    font-size: 46px;
  }

  .working_process_item {
    padding: 24px;
  }

  .about_us_area .image {
    padding-right: 30px;
  }

  .about_us_area .about_text .common_btn {
    margin-top: 43px;
  }

  .about_us_area .about_text .list_info ul li+li {
    margin-top: 22px;
  }

  .service_item {
    padding: 30px;
  }

  .counter_area .counter_item {
    margin-left: 26px;
  }

  .blog_area .blog_slider_item .text .title {
    font-size: 24px;
    line-height: 34px;
  }

  .footer_area .footer_cols_3 {
    padding-left: 17px;
  }

  .footer_area .footer_cols_4 {
    padding-left: 57px;
  }

  .bread_crumb_area .overlay {
    padding: 56px 0;
  }

  .bread_crumb_area .overlay .text .title {
    font-size: 37px;
  }
}

@media (max-width:1199.98px) {

  .top_header_area .info ul li+li {
    margin-left: 20px;
  }

  .top_header_area .info ul li {
    font-size: 15px;
    line-height: 40px;
  }

  .sticky-menu {
    padding: 12px 0;
  }

  .stroke_text {
    font-size: 78px;
  }

  .about_us_area .image {
    padding-right: 0;
    max-width: 500px;
    margin: 0 auto;
  }

  .stroke_text {
    font-size: 78px;
    display: none;
  }

  .about_us_area::before {
    display: none;
  }

  .about_us_area {
    padding-bottom: 0;
  }

  .latest_project_area .projects_menus ul li button {
    padding: 15px 20px;
    margin: 0 6px;
    font-size: 15px;
  }

  .videos_area .main .video_item .overlay .vidplay {
    width: 92px;
    height: 60px;
    font-size: 25px;
  }

  .section_title .title {
    font-size: 34px;
    line-height: 47px;
  }

  .counter_area .counter_item {
    margin-left: 0;
  }

  .counter_area .counter_item .text .title {
    font-size: 35px;
    line-height: 36px;
  }

  .counter_area .counter_item .text p {
    font-size: 14px;
    font-weight: 500;
  }

  .counter_area .counter_item .text {
    width: 181px;
  }

  .working_process_item .text .title {
    font-size: 23px;
    line-height: 33px;
  }

  .working_process_item .icon .tag {
    font-size: 18px;
  }

  .testimonial_area .testimonial_item .text .name {
    font-size: 20px;
  }

  .testimonial_area .testimonial_item .text .designation {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  .blog_area .blog_slider_item .text .title {
    font-size: 22px;
    line-height: 30px;
  }

  .blog_area .blog_slider_item .text {
    padding: 20px 20px 20px 0;
  }

  .blog_area .blog_slider_item .image {
    width: 227px;
    height: 269px;
    flex: 0 0 auto;
  }

  .footer_area .footer_cols_4 {
    padding-left: 47px;
  }

  .footer_area .footer_cols_3 {
    padding-left: 14px;
  }

  .footer_area .footer_list ul li a {
    font-size: 15px;
  }

  .footer_area .footer_text p {
    font-size: 15px;
  }

  .footer_area .footer_contact_box ul li a {
    font-size: 15px;
    line-height: 25px;
  }

  .about_area_page .image {
    margin-right: 24px !important;
    margin-bottom: 24px !important;
  }

  .about_us_area .image {
    max-width: unset;
  }

  .about_area_page .image {
    float: unset;
    margin-bottom: 50px !important;
    margin-right: 0 !important;
  }
}

@media (max-width:991.98px) {
  .latest_project_area .projects_menus ul li {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 8px;
    gap: 8px;
  }

  .latest_project_area .projects_menus ul li button {
    flex: 0 0 auto;
    margin: 0;
  }

  .section_title .title {
    font-size: 42px;
    line-height: 56px;
  }

  .section_title .subtitle {
    font-size: 17px;
  }

  .videos_area .main .video_item:nth-child(2n+1) {
    height: 380px;
  }

  .videos_area .main .video_item:nth-child(2n) {
    height: 165px;
  }

  .videos_area .main {
    gap: 12px;
  }

  .videos_area .main .video_item .overlay .vidplay {
    width: 80px;
    height: 51px;
    font-size: 20px;
  }

  .counter_area {
    padding-top: 100px;
  }

  .counter_item {
    margin-top: 60px;
  }

  .counter_area .counter_item .text {
    width: 240px;
  }

  .counter_area .counter_item .text .title {
    font-size: 48px;
    line-height: 46px;
  }

  .counter_area .counter_item {
    margin-left: 26px;
  }

  .counter_area .section_title {
    text-align: center !important;
  }

  .blog_area .section_title {
    text-align: center !important;
  }

  .blog_slider_arrow_main {
    text-align: center !important;
    margin-bottom: 60px;
  }

  .footer_area .footer_cols_1 {
    padding-right: 0;
  }

  .footer_area .footer_cols_3 {
    padding-left: 0;
  }

  .footer_area .footer_cols_4 {
    padding-left: 0;
  }

  .footer_area .footer_contact_box ul li {
    margin-bottom: 14px;
  }

  .footer_area .footer_btm {
    margin-top: 40px;
  }

  .footer_btm {
    text-align: center;
  }

  .footer_area .footer_cols_1 {
    padding-right: 0;
    text-align: center;
  }

  .footer_btm .text-end {
    text-align: center !important;
  }

  .footer_area .footer_cols_4 {
    padding-left: 37px;
  }
}

@media (max-width:767.98px) {
  .banner_area .banner_img .name h3 {
    font-size: 14px;
  }

  .banner_area .banner_img .name {
    left: -62px;
  }

  .section_title .title {
    font-size: 34px;
    line-height: 48px;
  }

  .videos_area .main {
    display: flex;
    flex-direction: column;
  }

  .videos_area .main .video_item:nth-child(2n) {
    height: unset;
  }

  .videos_area .main .video_item:nth-child(2n+1) {
    height: unset;
  }

  .videos_area .main .video_item.moved-up {
    margin-top: 0;
  }

  .counter_area .counter_item .text {
    width: 269px;
    margin: 0 auto;
  }

  .counter_area .counter_item {
    margin-left: 0;
  }

  .clients_area .clients_slider .clients_item {
    width: 140px;
  }

  .footer_area {
    text-align: center;
  }

  .footer_area .footer_contact_box ul li {
    justify-content: center;
  }

  .footer_area .footer_cols_4 {
    padding-left: 0;
  }
}

@media (max-width:575.98px) {
  .section_title .title {
    font-size: 28px;
    line-height: 40px;
  }

  .section_title {
    margin-bottom: 40px;
  }

  .service_item {
    padding: 20px;
  }

  .service_item .text .title {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .service_item .icon img {
    width: 70px;
  }

  .about_us_area .about_text .list_info ul li {
    font-size: 17px;
  }

  .about_us_area .about_text .list_info ul li::before {
    top: 0px;
  }

  .section_title .title {
    font-size: 24px;
    line-height: 35px;
  }

  .service_area {
    padding: 60px 0;
  }

  .about_us_area {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .latest_project_area {
    padding-top: 60px;
  }

  .latest_project_area .projects_menus {
    padding-bottom: 30px;
  }

  .videos_area {
    padding-top: 60px;
  }

  .counter_area {
    padding-top: 60px;
    margin-top: 60px;
    padding-bottom: 60px;
  }

  .working_process_area {
    padding: 60px 0;
  }

  .testimonial_area {
    padding-top: 60px;
  }

  .testimonial_area .testimonial_item {
    flex-direction: column;
    text-align: center;
  }

  .clients_area .clients_slider .clients_item {
    width: 80px;
  }

  .clients_area {
    padding-top: 60px;
  }

  .blog_area {
    margin-top: 60px;
    padding: 60px 0;
  }

  .blog_area .blog_slider_item {
    gap: 15px;
    flex-direction: column;
    text-align: center;
  }

  .blog_area .blog_slider_item .image {
    width: 100%;
    height: auto;
    flex: 0 0 auto;
  }

  .blog_area .blog_slider_item .text {
    padding: 22px;
  }

  .blog_area .blog_slider_item .text .title {
    margin-top: 10px;
    margin-bottom: 19px;
  }

  .footer_area .footer_btm ul li a {
    font-size: 14px;
    margin: 4px 10px;
  }

  .footer_area .footer_btm p {
    font-size: 14px;
  }

  .latest_project_area .projects_menus ul li button {
    font-size: 14px;
  }

  .footer_area .footer_contact_box ul li span {
    top: 2px;
  }

  .footer_area .footer_contact_box ul li {
    gap: 12px;
  }

  .bread_crumb_area .overlay {
    padding: 40px 0;
  }

  .bread_crumb_area .overlay .text {
    text-align: center;
  }

  .bread_crumb_area .overlay .text .title {
    font-size: 26px;
    margin-bottom: 14px;
  }

  .bread_crumb_area .overlay .text ul li {
    font-size: 15px;
  }
  
  .about_area_page .text p {
    text-align: left;
  }
}