@import "../variable/variable";
@import "../mixin/font";

.banner_area {
  min-height: calc(100vh - 126px);
  height: 100%;
  // background-color: $black;
  position: relative;
  display: flex;

  .banner_img {
    box-shadow: -17px 0px 16px 0px rgba(0, 0, 0, 0.32);
    width: 100%;
    overflow: hidden;
    transition: $transition;
    max-height: calc(100vh - 126px);
    position: relative;
    flex: 1;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    .overlay {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .text {
      text-align: center;
      background-color: $white;
      padding: 24px;
      width: 90%;
      max-height: 200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: 0 auto;
      visibility: hidden;
      opacity: 0;

      .common_btn {
        margin-top: 30px;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .name {
      position: absolute;
      bottom: 61px;
      left: -61px;
      transform: rotate(-90deg);
      width: 169px;

      h3 {
        @include font(16px, 600);
        text-transform: uppercase;
        color: $white;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 14px 17px;
      }
    }

    &:hover {
      flex-grow: 7;

      .text {
        visibility: visible;
        opacity: 1;
        transition: $transition;
        transition-delay: 0.3s;
      }
    }
  }
}