@import "../components/header";
@import "../components/banner";
@import "../components/about";
@import "../components/our-projects";
@import "../components/services";
@import "../components/videos";
@import "../components/working-process";
@import "../components/counter";
@import "../components/team";
@import "../components/clients";
@import "../components/blog";
@import "../components/footer";